<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="stylesheet" href="css/style.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Food</title>
</head>

<body>

    <!-- DIV CONTENITORE -->
    <div id="app" class="main-container">

        <header>
            <div class="social">
                <div class="social-left">
                    <a :href="firstrow[0].url">{{firstrow[0].nome}}</a>
                    <button type="button" class="ios">iOS</button>
                    <a :href="firstrow[1].url">{{firstrow[1].nome}}</a>
                </div>
                <div class="social-icons">
                    <i v-for="icon in social" :class="icon"></i>
                </div>
            </div>
            <div class="logo">
                <img :src="logohead[0]" alt="">
            </div>
        </header>


        <nav>
            <div class="link-nav">
                <ul>
                    <li v-for="link in nav"><a :href= "link.url" >{{link.nome}}</a></li>
                    <li><i :class="icons[0]"></i></li>
                </ul>
            </div>
        </nav>


        <!-- JUMBOTRON SECTION -->
        <section class="jumbotron">
            <div class="food-corner">
                <h1>Food Corner Top Japanese Restaurants For Sushi</h1>
                <p>March 25,2019</p>
            </div>
            <div class="pick">
               <h4>TODAY'S PICK</h4> 
            </div>
        </section>

        <!-- FOODIE JOURNAL -->
        <section class="journal">
            <div class="inside-journal">
                <div class="top-journal">
                    <div class="line"></div>
                    <h4>F O O D I E&nbsp;&nbsp; J O U R N A L</h4>
                    <div class="line"></div>
                </div>
                <div class="bottom-journal">

                    <!-- schede con descrizione sotto da riutilizzare -->

                    <div class="schede">
                        <img src="img/single-post-img3-400x263.jpg" alt="">
                        <h4>Food Corner: Top Japanese Restaurants for Sushi</h4>
                        <p>by Admin | March 25th, 2019</p>
                    </div>
                    <div class="schede">
                        <img src="img/fi-roundup-400x263.jpg" alt="">
                        <h4>Roundup: My New Favourite Recipes for Healthy Living</h4>
                        <p>by Admin | March 25th, 2019</p>
                    </div>
                    <div class="schede">
                        <img src="img/fi-toasts-400x263.jpg" alt="">
                        <h4>Why These Toasts with Tea are my New Favorite</h4>
                        <p>by Admin | March 25th, 2019</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- POPULAR RECIPES -->
        <section class="popular-recipes">
            <div class="inside-recipes">
                <div class="box-text">
                    <div class="recipe-text">
                        <h4>P O P U L A R &nbsp;&nbsp; R E C I P E S</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio tempore aperiam non, qui doloribus.</p>
                    </div>
                </div>
                <div class="recipes">
                    <div class="recipe-info">
                        <img src="img/Yogurt-Nan-600x395.jpg" alt="">
                        <div class="recipe-under">
                            <h4>Lunch Favorite with Salad, Naan and Beans</h4>
                            <p>Bakery, Featured, Healthy, Last Recipes, Staff Pick</p>

                            <div class="line"></div>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio enim sunt architecto itaque est provident repudiandae officiis ipsa doloremque labore consectetur at, aspernatur ducimus iure magnam non rerum impedit deleniti. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolor sapiente accusantium sit porro. Cupiditate debitis voluptatibus quo beatae incidunt aliquam quos, odit labore eius perferendis hic cum? Tenetur, saepe?</p>

                            <button type="button" class="learn"> LEARN MORE</button>
                        </div>
                    </div>
                    <div class="recipe-pics">
                        <img v-for="pic in recipepics" :src="pic" alt="">
                    </div>
                </div>
            </div>
        </section>

        <!-- CULINARY COLLECTION -->
        <section></section>

        <!-- FARM TO TABLE -->
        <section></section>

        <!-- SUBSCRIBE -->
        <section></section>

        <!-- RANDOM PICTURES -->
        <section></section>

        <footer>
            <div class="main-footer">
                <div class="pre-footer-section">
                    <div class="footer-section">
                        <img :src="logofooter[0]" alt="">
                        <div class="social-icons footer">
                            <i v-for="icon in social" :class="icon"></i>
                        </div>
                    </div>
                    <div class="footer-section">
                        <ul>
                            <li v-for="link in nav"><a :href= "link.url" >{{link.nome}}</a></li>
                        </ul>
                    </div>
                    <div class="footer-section">
                        <h4 class="orange">C O N T A C T</h4>
                        <div v-for="section in contact" class="contacts">
                            <i :class="section.icon"></i>
                            <h4>{{section.info}}</h4>

                        </div>
                    </div>  
                    <div class="footer-section">
                        <h4 class="orange">G E T &nbsp;&nbsp;O U R &nbsp;&nbsp;A P P!</h4>
                        <div class="download-badge" v-for="badge in badges">
                            <a  :href="badge.url"><img :src="badge.img" alt=""></a>       
                        </div>
                    </div>
                </div>

            </div>
            <div class="bottom-footer">
                <p>© Copyright 2012 - 2020 | Avada Theme by ThemeFusion | All rights reserved | Powered by Wordpress</p>
            </div>
        </footer>

    </div>
<script src="js/script.js"></script>
</body>

</html>